name: Build on GNU/Linux (x86_64)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y make clang-15 python3 python3-pip
          python3 -m pip install compiledb

      - name: Initialize GitHub Modules
        run: |
          git submodule update --init --recursive

      - name: Ready Toolchain
        run: |
          cd Toolchain
          wget https://developer.arm.com/-/media/Files/downloads/gnu/12.2.rel1/binrel/arm-gnu-toolchain-12.2.rel1-x86_64-aarch64-none-elf.tar.xz
          tar -xf arm-gnu-toolchain-12.2.rel1-x86_64-aarch64-none-elf.tar.xz
          cd ..
          sed -i 's/^TOOLCHAIN_PATH = .*/TOOLCHAIN_PATH=Toolchain\/arm-gnu-toolchain-12.2.rel1-x86_64-aarch64-none-elf/' Makefile
    
      - name: Build The Kernel
        run: |
          make kernel

      - name: Build The Tests
        run: |
          make test

      - name: Generate compile_commands
        run: |
          make compiledb
